@model ServiceBookingModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <input type="hidden" asp-for="@Model.Id" />
            <div class="form-group">
                <label asp-for="CarId"></label>
                <select asp-for="CarId" class="form-control">
                    @foreach (var car in Model.ServiceBookingCars)
                    {
                        <option value="@car.Id">@car.Make @car.Model</option>
                    }
                </select>
                <span asp-validation-for="CarId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GarageId"></label>
                <select asp-for="GarageId" class="form-control">
                    @foreach (var garage in Model.ServiceBookingGarages)
                    {
                        <option value="@garage.Id">@garage.GarageName</option>
                    }
                </select>
                <span asp-validation-for="GarageId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MechanicId"></label>
                <select asp-for="MechanicId" class="form-control">
                    @foreach (var mechanic in Model.ServiceBookingMechanics)
                    {
                        <option value="@mechanic.Id">@mechanic.FirstName @mechanic.LastName</option>
                    }
                </select>
                <span asp-validation-for="MechanicId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceId"></label>
                <select asp-for="ServiceId" class="form-control">
                    @foreach (var service in Model.ServiceBookingNames)
                    {
                        <option value="@service.Id">@service.ServiceName @service.Price BGN</option>
                    }
                </select>
                <span asp-validation-for="ServiceId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date"></label>
                <input asp-for="Date" type="date" min="@DateTime.UtcNow.Date" class="form-control" placeholder="Date...">
                <span asp-validation-for="Date" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment"></label>
                <textarea asp-for="Comment" class="form-control" placeholder="Comment..."></textarea>
                <span asp-validation-for="Comment" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
